@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body {
    margin: 0;
    font-family: Poppins;
    flex-direction: column;
}

.top-part {
    background: #1f2937;
    padding: 0 13em;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 2em;
}

.home, .about, .sign-up {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.logo {
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.main-section {
    margin-top: 7em;
    display: flex;
    padding-bottom: 7em;
}

.left-main {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    gap: 1.5em;
}

h1 {
    color: white;
    margin: 0;
    font-size: 50px;
}

.para-main {
    font-size: 20px;
    color: white;
    margin: 0;
}

.main-signup {
    font-size: 110%;
    align-self: baseline;
    padding: 0.3em 1.5em ;
    border-radius: 7px;
    background: #3882F6;
    font-weight: 700;
    color: white;

}

.kanye {
    width: 700px;
    height: 261px;
}

.section-02 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 13em;
    align-items: center;
}

h2 {
    font-size: 40px;
}